extends layout
block append scripts
    script 
      require(['jquery','cs!/script/gameStatus'],function(gameStatus){
        $().ready(function(){
          var gameId =  $(location).attr('href').match(/game\\/(\\d)\\/status/)[1]
          $.getJSON("/game/"+gameId+"/status.json", gameStatus.renderGame)
        });
      });
    
block content
    canvas( width="800", height="800") Your browser doesn't support html canvas