extends layout
block append scripts
    script 
      require(['cs!/script/gameStatus'],(gameStatus)->
        $().ready ->
        gameId =  $(location).attr('href').match(/game\/\d\/status/)[1]
        $.getJson("game/#{gameId}/status.json", gameStatus.renderGame)
      )
    
block content
    canvas( width="800", height="800") Your browser doesn't support html canvas