extends layout
block append scripts
    script(src='/script/gameStatus.coffee', type="text/coffeescript")
    
block content
    canvas( width="800", height="800") Your browser doesn't support html canvas
    script
        renderStatus #{gameStatus}