extends layout

block content
    div.bodyText
        |Welcome to SimpleJsAnt<br>
        |This site is a simple technical try.<br>
        |It's aim to reproduce the behavrious of ants looking for food.<br>
        |My Aim in doing this site is to try some js technics.<br>
    div.bodyText
        |Here is a an explanation of how ants does to find food 
        |a(href="http://mute-net.sourceforge.net/howAnts.shtml").<br>
    div.bodyText
        |The intresting part is that ant just go anywhere, at the begining.<br/>
        |When an ant find something to eat, it start to trace a part with some special pheromone.<br/>
        |This ant will go straight to the anthill. It turn's out that ants has the capacity to find there anthill, start from anywhere.<br/>
        |Nice, isn't it.