doctype 5
html
  head
    title SimpleJsAnt
    link(rel="stylesheet", type="text/css", href="/css/main.css")
    block scripts
        script(src='/script/lib/jquery.js')
        script(src='/script/lib/coffeescript.js')
  body
    div.title
        a.title-element(href="/") SimpleJsAnt
        a(href="newGame").title-element new game
    div.body
        block content