doctype 5
html
  head
    title SimpleJsAnt
    link(rel="stylesheet", type="text/css", href="css/main.css")
  body
    div.title
        div.title-element#mainPage SimpleJsAnt
        div.title-element#newGame new game