doctype 5
html
  head
    title SimpleJsAnt
    link(rel="stylesheet", type="text/css", href="css/main.css")
    script(data-main="script/loader", src="script/lib/require.js")
    script(src="script/cs.js")
  body
    div.title
        div.title-element#mainPage SimpleJsAnt
        div.title-element#newGame new game
    div.body
        block content