doctype 5
html
  head
    title SimpleJsAnt
    link(rel="stylesheet", type="text/css", href="/css/main.css")
    block scripts
        script(src='/script/lib/require.js', data-main="/script/loader")
        
  body
    div.title
        a.title-element(href="/") SimpleJsAnt
        a(href="/newGame").title-element new game
	div.forkme
		a(href="https://github.com/benzen/Simple-Ant-JS")
				ing(src="image/fork-me-on-github.png")
    div.body
        block content