doctype 5
html
  head
    title SimpleJsAnt
    link(rel="stylesheet", type="text/css", href="/css/main.css")
    block scripts
        script(src='/script/lib/require.js', data-main="/script/loader")
        
  body
    div.forkme
        a(href="https://github.com/benzen/Simple-Ant-JS")
          img(src="/image/fork-me-on-git-hub.png", alt="Fork me on git hub")

    div.title
        a.title-element(href="/") SimpleJsAnt
        a(href="/newGame").title-element new game

    div.body
        block content