doctype 5
html
  head
    title SimpleJsAnt
    link(rel="stylesheet", type="text/css", href="css/main.css")
  body
    div.title
        div.title-element#mainPage 
            a(href="/") SimpleJsAnt
        div.title-element#newGame 
            a(href="newGame") new game
    div.body
        block content