doctype 5
html
  head
    title SimpleJsAnt
    link(rel="stylesheet", type="text/css", href="css/main.css")
  body
    div.title
        a.title-element(href="/") SimpleJsAnt
        a(href="newGame").title-element new game
    div.body
        block content