doctype 5
html
  head
    title SimpleJsAnt
    link(rel="stylesheet", type="text/css", href="css/main.css")
//    script(data-main="script/loader", src="script/lib/require.js")
//    script(src="script/cs.js")
  body
    div.title
        div.title-element#mainPage SimpleJsAnt
            a(href="/")
        div.title-element#newGame new game
            a(href="newGame")
    div.body
        block content