extends layout
block append scripts
  script(src='/script/newGame.coffee', type="text/coffeescript")
block content
    .bodyText
        script
                alert("dom is ready");
                $('#start').click(function() {
                    $('form:first').submit();
                });
        center
            form(name="newGame",action="createGame",method="POST")
                table
                    tr
                        td Number of Ants:
                        td 
                                input(type="number", name="nbOfAnts").spinner 
                    tr
                        td Size of the Map( squared map):
                        td 
                            input(type="number", name="mapSize").spinner
                    tr
                        td Position of the eat X:
                        td 
                            input(type="number", name="eatX").spinner
                        td Y:
                        td 
                            input(type="number", name="eatY").spinner
                    tr
                        td Position of the anthill X:
                        td 
                            input(type="number", name="anthillX").spinner
                        td Y:
                        td 
                            input(type="number", name="anthillY").spinner
                a(href="#").button#start Start