extends layout
block content
    .bodyText
        center
           table
            tr
                td  
                    Number of Ants:
                td  
                    input(type="number").spinner #nbOfAnts
            tr
                td 
                    Size of the Map( squared map):
                td 
                    input(type="number").spinner#mapSize
            tr
                td
                    Position of the eat X:
                td
                    input(type="number").spinner#eatX
                td
                |    Y:
                td
                    input(type="number").spinner#eatY
            tr
                td
                    Position of the anthill X:
                td
                    input(type="number").spinner#anthillX
                td
                |   Y:
                td
                    input(type="number").spinner#anthillY
        ."button start"
            Start