.title {
    color:#45402A;
    text-align:center;
    height: 50px;
}
.title-element{
    background-color:#215ec7;
    display:inline;
    padding:10px;
    border-radius: 10px;
    font-size:larger;
    text-decoration: none;
    color:black;
}
.title-element:hover{
    color:white;
}
body {
    background-color:#232323;
    margin: 0;
}
.body{
    background-color:#383434;    
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    min-height:1024px;
    border-radius: 10px;
    border-style: outset;
    border-color:#c7c7c7;
    color:#7d7d7d;
    font-weight: bold;
}
.bodyText {
    padding:10px;    
}
.button{
    display:inline;
    border-radius:10px;
    padding:5px;
    background-color:#215ec7;
    color:#45402A;
}
.button:hover {
    color:white;
}
