doctype 5
html
  head
    title Simple-Ant-Js
    script(data-main="script/loader" src="script/lib/require.js")
    script(type='text/javascript' src='script/cs.js')
    link(rel="stylesheet" type="text/css" href="css/main.css")
  body
    div.title
        div.title-element #mainPage Main page
        div.title-element #newGame New game