doctype 5
html
  head
    title Simple-Ant-Js
    script data-main="script/loader" src="script/lib/require.js"
  body
    div.title
        div.title-element#mainPage  Main page
        div.title-element#newGame  New game